{% extends 'base.html' %}

{% block title %}
    {{ company.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-hover text-center">
            <caption class="caption-top">Компания {{ company.name }}</caption>
            <thead class="table-dark">
            <tr>
                <td class="col-2 text-left">Название</td>
                <td class="col-2">Логотип</td>
                <td class="col-2">Сфера деятельности</td>
                <td class="col-2">Активность</td>
                <td class="col-2">Владельцы</td>
            </tr>
            </thead>
            <tr>
                <td>{{ company.name }}</td>
                <td>{% if company.upload %}{{ company.image_small }}{% else %} Отсутствует {% endif %}</td>
                <td>{{ company.industry.name }}</td>
                <td>{% if company.is_active %}Активно {% else %}Неактивно{% endif %}</td>
                <td>
                    <ul>
                        {% for owner in company.owners.all %}
                            <li>{{ owner.first_name }}</li>
                        {% empty %} Никто не владеет компанией
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Описание</h3>
        {{ company.description|safe }}
        {% if photos %}
            <hr>
            <h3>Фотографии</h3>
            {% for photo in photos %}
                <ul>
                    <li>{{ photo.big_image }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
