{% extends 'base.html' %}

{% block title %}
    Компании
{% endblock %}

{% block content %}
    <a href="/companies/new"><h1 class="text-center">Открыть компанию</h1></a>
    <caption class="caption-top">Активные компании</caption>
    {% for category, items in companies_by_industry.items %}
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <td>Название</td>
                <td>Логотип</td>
                <td>Очки доверия</td>
            </tr>
            </thead>
            {% ifchanged %}
                <caption class="caption-top">
                    {{ category }}
                </caption>
            {% endifchanged %}
            {% for company in items %}
                <tr>
                    <td class="text-nowrap">
                        <a class="company-link" href="/companies/{{ company.name }}">
                            {{ company.name }}
                        </a>
                    </td>
                    <td>
                        {% if company.upload %}
                            {{ company.image_small }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>
                        {% if company.sum_points %}{{ company.sum_points }}{% else %}0{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% empty %}
        <tr>
            <td>
                Список пуст. Эй, админ, добавь инфы!
            </td>
        </tr>
    {% endfor %}
{% endblock %}
