.md-red {
    color: #cc0404;
}

.md-yellow {
    color: #ffc918
}

.md-money {
    color: #ffb900;
    vertical-align: sub;
    font-size: 1.2em;
}

.md-green {
    color: #028007
}

.md-blue {
    color: #15b4ce;
    vertical-align: sub;
    font-size: 1.2em;
}

.md-white {
    color: white;
    background-color: #15b4ce;
    vertical-align: sub;
    font-size: 1.2em;
}

.md-player {
    color: #d39400;
    vertical-align: sub;
    font-size: 1.2em;
}

.md-cart {
    color: #b699d3;
    vertical-align: sub;
    font-size: 1.2em;
}
