{% load static %}
<footer class="text-center mt-auto py-3">
    <hr>
    <div class="container">
        <div>
            <a class="badge bg-dark" href="https://vk.com/vasil1y">
                Никулин Василий
            </a>
            <a href="https://github.com/Aleksander1Byte/lyceum" target="_blank">
                <img class="icon" src="{% static 'images/light-github.png' %}" alt="Github">
            </a>
            <a class="badge bg-dark" href="https://vk.com/id375552380">
                Александр Герасимов
            </a>
        </div>
    </div>
</footer>