{% load static %}
<footer class="text-center mt-auto py-3">
    <hr>
    <div class="container">
        <a class="link-dark" href="mailto:nikulin.vasily.777@ya.ru">
            nikulin.vasily.777@ya.ru
        </a>
        <div>
            <a href="https://vk.com/vasil1y" target="_blank">
                <img class="icon" src="{% static 'images/light-vk.png' %}" alt="Vkontakte">
            </a>
            <a href="https://github.com/vacya01" target="_blank">
                <img class="icon" src="{% static 'images/light-github.png' %}" alt="Github">
            </a>
        </div>
    </div>
</footer>