{% extends "base.html" %}

{% block content %}
    <h4 class="card-title">Смена пароля</h4>

    <form method="post">
        {% csrf_token %}
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }} {{ form.old_password }}
        <br>
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
            <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
        <br>
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
            <div class="help">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-outline-aqua">Сменить пароль</button>
    </form>
{% endblock %}