{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <p>Введите новый пароль:</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить пароль"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Смена пароля не выполнена</h1>
        <p>Ссылка на смену пароля уже была использована. Повторите сброс пароля.</p>
    {% endif %}

{% endblock %}
